.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

mat-tree {
    margin: 0;
    mat-nested-tree-node {
        margin-left: 0;
        line-height: 40px;
        font-size: 16px;
        a.mat-button {
            width: 100%;
            text-align: left;
            padding: 0;
            padding-left: 10px;
            display: block;
        }
    }
}